In [1]:
pip install numpy pandas matplotlib seaborn

Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.2.4)
Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (3.10.1)
Requirement already satisfied: seaborn in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('botak.csv')

In [4]:
df

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
0,42.0,Laki-laki,PNS,Padang,7.864005e+06,0,0.0,61.928685,152.174164,Deadbuoy,1,S1,0.487655
1,33.0,Laki-laki,Pegawai swasta,Palangkaraya,6.492662e+06,0,0.0,49.374507,152.822969,Moonsilk,1,SMA,0.297270
2,59.0,Laki-laki,Freelance,Serang,8.086303e+06,1,0.0,59.072807,159.911047,Merpati,1,S1,0.467848
3,38.0,Laki-laki,Pegawai swasta,Gorontalo,1.147321e+07,0,1.0,68.338014,162.558997,Moonsilk,0,S1,0.616418
4,33.0,Perempuan,Freelance,Tanjungselor,1.475942e+07,0,0.0,53.769996,154.579510,Pantone,1,S2,0.115439
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,31.0,Laki-laki,Pegawai swasta,Padang,2.911963e+07,0,0.0,83.272785,176.020857,Merpati,0,SMA,0.241525
7987,40.0,Perempuan,Pegawai swasta,Banjarmasin,8.955173e+06,0,0.0,61.634474,161.780773,Deadbuoy,0,S1,0.140971
7988,43.0,Perempuan,PNS,Mataram,4.022652e+06,0,0.0,50.525031,152.461656,Shoulder & Head,1,S1,0.364456
7989,29.0,Laki-laki,Pegawai swasta,Serang,5.801753e+06,0,0.0,47.175270,152.749709,NaN,1,SMA,0.248910
7990,55.0,Laki-laki,Pegawai swasta,Padang,8.518947e+06,0,1.0,61.938728,163.998842,Merpati,1,SMA,0.838493

In [5]:
df.head()

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
0,42.0,Laki-laki,PNS,Padang,7.864005e+06,0,0.0,61.928685,152.174164,Deadbuoy,1,S1,0.487655
1,33.0,Laki-laki,Pegawai swasta,Palangkaraya,6.492662e+06,0,0.0,49.374507,152.822969,Moonsilk,1,SMA,0.297270
2,59.0,Laki-laki,Freelance,Serang,8.086303e+06,1,0.0,59.072807,159.911047,Merpati,1,S1,0.467848
3,38.0,Laki-laki,Pegawai swasta,Gorontalo,1.147321e+07,0,1.0,68.338014,162.558997,Moonsilk,0,S1,0.616418
4,33.0,Perempuan,Freelance,Tanjungselor,1.475942e+07,0,0.0,53.769996,154.579510,Pantone,1,S2,0.115439

In [6]:
df.tail()

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
7986,31.0,Laki-laki,Pegawai swasta,Padang,2.911963e+07,0,0.0,83.272785,176.020857,Merpati,0,SMA,0.241525
7987,40.0,Perempuan,Pegawai swasta,Banjarmasin,8.955173e+06,0,0.0,61.634474,161.780773,Deadbuoy,0,S1,0.140971
7988,43.0,Perempuan,PNS,Mataram,4.022652e+06,0,0.0,50.525031,152.461656,Shoulder & Head,1,S1,0.364456
7989,29.0,Laki-laki,Pegawai swasta,Serang,5.801753e+06,0,0.0,47.175270,152.749709,NaN,1,SMA,0.248910
7990,55.0,Laki-laki,Pegawai swasta,Padang,8.518947e+06,0,1.0,61.938728,163.998842,Merpati,1,SMA,0.838493

In [7]:
df.sample(5)

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
4062,34.0,Laki-laki,PNS,Kendari,5.572783e+06,0,0.0,50.023479,155.015688,Deadbuoy,1,SMA,0.380141
5845,30.0,Laki-laki,Pegawai swasta,Jakarta,9.436901e+06,0,0.0,59.060945,154.475477,Pantone,0,S1,0.213177
7870,50.0,Laki-laki,Pegawai swasta,Jambi,1.915115e+07,0,1.0,62.390559,157.895476,Pantone,1,SMP,0.731446
3202,44.0,Laki-laki,Freelance,Kendari,6.050341e+06,0,0.0,NaN,151.254754,Deadbuoy,0,SMP,0.101635
3845,44.0,Laki-laki,PNS,Kupang,4.973887e+06,0,0.0,73.888108,159.174709,Moonsilk,1,SMA,0.601536

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   umur           7991 non-null   float64
 1   jenis_kelamin  7982 non-null   object
 2   pekerjaan      7924 non-null   object
 3   provinsi       7991 non-null   object
 4   gaji           7968 non-null   float64
 5   is_menikah     7991 non-null   int64
 6   is_keturunan   7976 non-null   float64
 7   berat          7952 non-null   float64
 8   tinggi         7991 non-null   float64
 9   sampo          7934 non-null   object
 10  is_merokok     7991 non-null   int64
 11  pendidikan     7991 non-null   object
 12  botak_prob     7991 non-null   float64
dtypes: float64(6), int64(2), object(5)
memory usage: 811.7+ KB

In [9]:
df['umur'].describe()

count    7991.000000
mean       39.604805
std        10.014420
min         3.000000
25%        33.000000
50%        40.000000
75%        46.000000
max        78.000000
Name: umur, dtype: float64

In [10]:
df['jenis_kelamin'].describe()

count          7982
unique            2
top       Laki-laki
freq           5342
Name: jenis_kelamin, dtype: object

In [11]:
df.isna().sum()

umur              0
jenis_kelamin     9
pekerjaan        67
provinsi          0
gaji             23
is_menikah        0
is_keturunan     15
berat            39
tinggi            0
sampo            57
is_merokok        0
pendidikan        0
botak_prob        0
dtype: int64

In [12]:
from statistics import mode

# Menghitung modus untuk data kategorik
jenis_kelamin_mode = mode(df['jenis_kelamin'].dropna())
pekerjaan_mode = mode(df['pekerjaan'].dropna())
is_keturunan_mode = mode(df['is_keturunan'].dropna())
sampo_mode = mode(df['sampo'].dropna())

# Menghitung mean untuk data numerik
berat_mean = df['berat'].mean()
gaji_mean = df['gaji'].mean()

# Daftar kolom yang memiliki nilai missing
kolom_missing = ['jenis_kelamin', 'pekerjaan', 'is_keturunan', 'berat', 'sampo', 'gaji']

# Daftar nilai yang akan digunakan untuk mengisi missing values
inputan = [jenis_kelamin_mode, pekerjaan_mode, is_keturunan_mode, berat_mean, sampo_mode, gaji_mean]

# Mengisi nilai missing dengan metode yang benar
for kolom, nilai in zip(kolom_missing, inputan):
    df[kolom] = df[kolom].fillna(nilai)

# Menampilkan hasil
print(df)

      umur jenis_kelamin       pekerjaan      provinsi          gaji  \
0     42.0     Laki-laki             PNS        Padang  7.864005e+06
1     33.0     Laki-laki  Pegawai swasta  Palangkaraya  6.492662e+06
2     59.0     Laki-laki       Freelance        Serang  8.086303e+06
3     38.0     Laki-laki  Pegawai swasta     Gorontalo  1.147321e+07
4     33.0     Perempuan       Freelance  Tanjungselor  1.475942e+07
...    ...           ...             ...           ...           ...
7986  31.0     Laki-laki  Pegawai swasta        Padang  2.911963e+07
7987  40.0     Perempuan  Pegawai swasta   Banjarmasin  8.955173e+06
7988  43.0     Perempuan             PNS       Mataram  4.022652e+06
7989  29.0     Laki-laki  Pegawai swasta        Serang  5.801753e+06
7990  55.0     Laki-laki  Pegawai swasta        Padang  8.518947e+06

      is_menikah  is_keturunan      berat      tinggi            sampo  \
0              0           0.0  61.928685  152.174164         Deadbuoy
1              0           0.0  49.374507  152.822969         Moonsilk
2              1           0.0  59.072807  159.911047          Merpati
3              0           1.0  68.338014  162.558997         Moonsilk
4              0           0.0  53.769996  154.579510          Pantone
...          ...           ...        ...         ...              ...
7986           0           0.0  83.272785  176.020857          Merpati
7987           0           0.0  61.634474  161.780773         Deadbuoy
7988           0           0.0  50.525031  152.461656  Shoulder & Head
7989           0           0.0  47.175270  152.749709          Merpati
7990           0           1.0  61.938728  163.998842          Merpati

      is_merokok pendidikan  botak_prob
0              1         S1    0.487655
1              1        SMA    0.297270
2              1         S1    0.467848
3              0         S1    0.616418
4              1         S2    0.115439
...          ...        ...         ...
7986           0        SMA    0.241525
7987           0         S1    0.140971
7988           1         S1    0.364456
7989           1        SMA    0.248910
7990           1        SMA    0.838493

[7991 rows x 13 columns]

In [13]:
df.isna().sum()

umur             0
jenis_kelamin    0
pekerjaan        0
provinsi         0
gaji             0
is_menikah       0
is_keturunan     0
berat            0
tinggi           0
sampo            0
is_merokok       0
pendidikan       0
botak_prob       0
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(101)

In [16]:
df_hapus_duplikat = df.drop_duplicates()
df_hapus_duplikat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7890 entries, 0 to 7989
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   umur           7890 non-null   float64
 1   jenis_kelamin  7890 non-null   object
 2   pekerjaan      7890 non-null   object
 3   provinsi       7890 non-null   object
 4   gaji           7890 non-null   float64
 5   is_menikah     7890 non-null   int64
 6   is_keturunan   7890 non-null   float64
 7   berat          7890 non-null   float64
 8   tinggi         7890 non-null   float64
 9   sampo          7890 non-null   object
 10  is_merokok     7890 non-null   int64
 11  pendidikan     7890 non-null   object
 12  botak_prob     7890 non-null   float64
dtypes: float64(6), int64(2), object(5)
memory usage: 863.0+ KB